<nav><!-- top nav -->
  <div class="menu">
    <ul>
      <li>
            <%= nav_link_to "Home", "home", home_path, "current_page" %>
      </li>
      <li><%= nav_link_to "About", "about", about_us_path, "current_page" %>
        <ul>
          <li><%= nav_link_to "Contact Us", "contact_us", contact_us_path, "current_page" %></li>
        </ul>
      </li>
      <li><%= link_to "Calendar", calendar_path %></li>
      <li><%= link_to "Articles", articles_path %>
        <ul>
          <li><%= link_to "Newsletter", newsletter_path %></li>
        </ul>
      </li>
      <li><%= link_to "Blog", blog_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav><!-- end of top nav -->

<% if user_signed_in? %>
    welcome, <%= current_user.full_name %><br/>
<% end %>